@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

:root {
    --poppins: 'Poppins', sans-serif;
    --roboto: 'Roboto', sans-serif;
    --darkBG: #101010;
    --darkBG: #101010;
    --lightDarkBG: #212529;
    --secondLightDarkBG: rgb(145, 54, 54);
    --turquoise: #0bc9c1;
    --f-light: #ddd;
    --start: #e4bb24;
    --white: #fff;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;;
}

body:not(p) {
    font-family: var(--roboto);
    font-size: 16px;
    position: relative;
    color: #fff;
    align-items: center;
    background: var(--darkBG);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--poppins);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 100%;
    background: var(--darkBG);
    overflow: hidden;
}

/****************************/
/* ======== HEADER ======== */
/****************************/

header {
    font-family: var(--poppins);
    background: var(--darkBG);
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
}

.max-width-1440 {
    max-width: 1440px;
    margin: 0 auto;
}

.max-width-1280 {
    max-width: 1280px;
    margin: 0 auto;
}

header .logo img {
    width: 200px;
    height: 66px;
    object-fit: contain;
}

.search-bar {
    color: var(--turquoise);
    position: relative;
    margin-left: 1em;
}

header > *:nth-child(2) {
    width: 25%;
}

.search-bar > :first-child {
    margin-right: 1em;
}

.search-bar input[type="text"] {
    width: 100%;
    background: var(--lightDarkBG);
    padding: .5em 1.75em;
    border-radius: 30px;
    color: #fff;
    border: none;
}

.search-bar input[type="text"]:focus, 
header input[type="text"]:hover {
    outline: none;
    background: #eee;
    transition: all ease .3s;
    color: #000;
    border: solid 3px var(--turquoise)
}

.fa-search {
    font-size: 1.3rem;
    position: absolute;
    right: .8em;
    top: calc(50% - .5em);
}


#searchBtn {
    cursor: pointer;
}

.search-results {
    margin: 8em 0;
}

.toggleBtn {
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: inherit;
    font-size: 1.5rem;
    display: none;
}

.nav {
    display: flex;
    position: relative;
    gap: 1em;
}

.nav > div {
    padding: 1.6em 0;
    position: relative;
}

.nav a {
    color: var(--white);
    padding: 1.6em;
    cursor: pointer;
    font-size: .9rem;
}

.nav a:hover,
.nav a:focus {
    color: var(--turquoise);
}

.dropdown-container {
    position: relative;
}

.dropdown-menu-btn {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    transform: scaleX(0);
    transform-origin: left;
    background: var(--lightDarkBG);
    transition: transform ease .3s !important;
    top: 70%;
    border-radius: 10px;
    padding: 1em 1.5em;
    display: flex;
    flex-direction: row;
    left: 0;
    z-index: 1;
}

.dropdown-menu-btn:hover + .dropdown-menu , 
.dropdown-menu:hover,
.dropdown-menu > div {
    transform: scale(1) translate(0);
    transition: transform ease .3s;
    gap: .5em 3em;
}

.dropdown-menu > div {
    font-size: .8rem;
    color: #aaa;
    display: flex;
    flex-direction: column;
}

.genre {
    padding: .5em 1em;
    border-radius: 5px;
}

.genre:hover {
    color: var(--turquoise);
    cursor: pointer;
    background: var(--darkBG);
}

/****************************/
/* ======== HERO ======== */
/****************************/

.hero {
    display: flex;
    justify-content: center;
    position: relative;
}

.bgDynamic{
    width: 100%;
    height: 750px;
    margin-top: 3em;
    margin-bottom: 4em;
    overflow: hidden;
}

.carousel-item {
    display: flex;
    position: absolute;
    max-width: 1440px;
    height: 750px;
    overflow: hidden;
    justify-content: center;
    margin-top: 1em;
    align-items: center;
    flex-direction: column;
}

.carousel-img img {
    position: relative;
    max-height: 730px;
    width: 100%;
    object-position: 0 20%;
    object-fit: cover;
}

.carousel-img::after {
    position: absolute;
    content: "";
    background-image: linear-gradient(transparent, var(--darkBG) 100%), 
                        linear-gradient(transparent,var(--darkBG) 100%), 
                        linear-gradient(transparent,var(--darkBG) 100%), 
                        linear-gradient(transparent,var(--darkBG) 100%), 
                        linear-gradient(transparent, var(--darkBG) 100%);
    bottom: 0;
    width: 100%;
    height: 50%;
    z-index: 10;
}

.hide {
    opacity: 0;
    transition: all .2s ease-in;
}

.info {
    margin: 1em 0;
}

.info span {
    margin-right: 1em;
    color: var(--turquoise);
}

.info .fa-star {
    color: var(--start);
}

.genre-sec > span {
    background: var(--lightDarkBG);
    margin-right: 3px !important;
    padding: .3em .5em;
    border-radius: 5px;
}

/* ======== MAIN ======== */

.section {
    margin-bottom: 4em;
    padding: 4em 2em;
    padding-bottom: 2em;
}

.section h2 {
    margin-bottom: 1em;
    color: var(--turquoise);
}

.grid .col {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
    margin-bottom: 1em;
    gap: 4em 1em;
}

.col > div:last-of-type {
    display: none;
}

.grid img, .movie-info-container > div img {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.315);
    border-radius: 7px;
}

/* ======== FOOTER ======== */

footer {
    text-align: center;
    color: #fff;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}


/* ======== Movie Info Template ======== */
.movie-info-container {
    display: flex;
    width: 960px;
    margin: 0 auto;
    justify-content: space-between;
    min-height: 350px;
    padding: 4em 0;
    gap: 4em;
}

.movie-info-section {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.movie-info-container > div:last-child {
    width: 100%;
}

.stats-section {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.movie-title {
    font-size: 2rem;
    text-shadow: 0 0 1px #000;
}

.stats-lables {
    font-weight: normal;
    display: inline-block;
    width: 150px;
}

.floating-info {
    bottom: 0;
    color: #ccc;
    width: 100%;
    padding-left: 4em;
    padding-bottom: 3em;
    font-size: 1.2rem;
    position: absolute;
    z-index: 10;
}

.floating-info .overview {
    font-weight: 100;
}

.overview {
    width: 50%;
}

.stats img {
    width: 64px;
    box-shadow: none !important;
}

.title span {
    font-weight: normal;
}

/* Arrow UP ⬆ */
.arrow-up {
    border: 1px solid #fff;
    position: fixed;
    bottom: 4em;
    display: grid;
    place-content: center;
    background: var(--turquoise);
    right: 1em;
    font-size: 1.5rem;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 3px;
    transform: translateY(8em);
    transition: transform ease .2s;
}

.arrow-up:hover {
    opacity: .9;
}

.arrow-up::after {
    content: '';
    position: absolute;
    background: var(--turquoise);
    width: 48px;
    height: 48px;
    z-index: -1;
    border-radius: 50%;
    animation: ping 1.5s linear infinite;
}

.search-h2, .error-message {
    display: none;
}

.error-message {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
}

@keyframes ping {
    0% {
        transform: scale(.3);
        opacity: .6;
    }
    100% {
        transform: scale(3);
        opacity: 0;
    }
}

.poster {
    cursor: pointer;
}

.modal_backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.678);
    z-index: 1001;
    place-content: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: none;
}

.modal {
    left: calc(50% - 225px);
    position: absolute;
    max-width: 450px;
    background: #121212e0;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid #333;
    position: relative;
    box-shadow: 0 0 5em #000;
    border-radius: 10px;
    margin-top: 6em;
}

.modal .title {
    font-size: 1.75rem;
    margin: 3em 0 1em 0;
    color: #fff;
}

.modal .description {
    line-height: 160%;
    text-align: justify;
    max-width: 500px;
}

.modal img {
    position: absolute;
    border-radius: 50%;
    width: 150px;
    max-height: 150px;
    object-fit: cover;
    border: 5px solid #fff;
    top: -75px;
    left: calc(50% - 75px);
}

.modal .title {
    font-weight: normal;
}

.stats_label {
    color: turquoise;
}

.stats-wrapper {
    display: flex;
    flex-direction: column;
    width: 320px;
    padding: 1em;
    background: rgba(0, 0, 0, 0.212);
    margin-bottom: 1.75em;
}

.stats-wrapper > div {
    margin-bottom: .75em;
    display: flex;
    justify-content: space-between;
}

.modal .description_label {
    color: turquoise;
    font-weight: normal;
}

@media (max-width: 1020px) {
    header {
        width: 100%;
    } 

    .logo {
        justify-self: left;
    }

    #theForm {
        position: absolute;
        width: 100%;
        top: 100%;
        margin: 0;
        padding: 0;
        left: 0;
        display: flex;
        height: 50px;
        background: #101010;
    }

    .search-bar{
        width: 450px;
        left: calc(50% - 240px);
    }

    .fa-search {
        top: calc(50% - .7em);
    }

    .nav {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .hero {
        font-size: .9rem;
    }

    .overview {
        font-size: .8rem;
    }

    .genre-list {
        font-size: .9rem;
    }
}

@media (max-width: 720px) {
    .nav {
        flex-direction: column;
        background: #000;
        position: absolute;
        top: 0;
        right: 0;
        text-align: center;
        display: none;
    }

    .toggleBtn {
        display: unset;
    }

    .dropdown-container {
        width: 100%;
        text-align: center;
    }

    .dropdown-menu {
        left: calc(50% - 150px);
    }

    .hero .floating-info {
        margin: 0;
        padding-left: 2em;
        padding-right: 2em;
        padding-bottom: 4em;
    }

    .hero .overview {
        width: 100%;
    }

    .grid .section {
        padding: 0;
        margin: 0;
    }
}

@media (max-width: 720px) {
    .search-bar {
     width: 95%;
     left: 0;
     right: 0;  
    }
}

@media (max-width: 460px) {
    .col {
        align-items: center;
        justify-content: center;
        text-decoration-line: center;
        background: #101010;
    }

    .col > * {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}